header {
    width: 96vw;
    height: 88vh;
    background-image: url(imagen.png);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.button-container{
    margin-top: 675px;
    display: flex;
    width: 100%;
}
/* ESTILOS BOTÓN GROW ELLIPSE */
.ov-btn-grow-ellipse {
    background: #fff; /* Color de fondo */
    color: #4741d7; /* Color de fuente */
    border: 2px solid #4741d7; /* Tamaño y color de borde */
    padding: 12px 20px;
    border-radius: 40px; /* Redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.ov-btn-grow-ellipse:hover {
    color: #fff; /* Color de fuente al pasar el mouse */
}

.ov-btn-grow-ellipse::after {
    content: "";
    background: #4741d7; /* Color de fondo al pasar el mouse */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
}

.ov-btn-grow-ellipse:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
} 
.countdown {
    text-align: center;
    color: #4680be;
    margin-top: 100px;
    margin: 10px;
    width: 100%;
}
#timer {
    display: flex;
    justify-content: center; /* Alinea los elementos horizontalmente */
}
#timer div {
    margin: 0 10px; /* Espacio entre los elementos de tiempo */
}
#timer span {
    font-size: 2em; /* Tamaño del texto de los números */
    font-weight: bold; /* Negrita para los números */
}
